{{ define "contents" }}

<aside class="banner clearfix">
    <div class="slides">
        <ul>
            <li style="background-image: url(/static/img/banner.jpg);"></li>
            <!-- <li></li>
            <li></li>
            <li></li> -->
        </ul>
    </div>
</aside>

<div class="feature-product clearfix">
    <div class="container">
        <a href="/detail/1001"><div class="product-1" style="background-image: url(/static/img/1001.jpg);"></div></a>
        <div class="product-2">
            <div class="product-2-1">
                <a href="/detail/1002"><div class="product-2-1-1" style="background-image: url(/static/img/1002.jpg);"></div></a>
                <a href="/detail/1003"><div class="product-2-1-2" style="background-image: url(/static/img/1003.jpg);"></div></a>
            </div>
            <a href="/detail/1004"><div class="product-2-2" style="background-image: url(/static/img/1004.jpg);"></div></a>
        </div>
    </div>
</div>

<div class="new-product clearfix">
    <div class="container">
        <div class="heading">
            <h2><span>New Arrival</span></h2>
            <p>We love to tell our successful far far away, behind the word mountains,</p>
            <p> far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="product">
            <a href="/detail/1005"><div class="product-entry" style="background-image: url(/static/img/1005.jpg);"></div></a>
            <a href="/detail/1006"><div class="product-entry" style="background-image: url(/static/img/1006.jpg);"></div></a>
            <a href="/detail/1007"><div class="product-entry" style="background-image: url(/static/img/1007.jpg);"></div></a>
            <a href="/detail/1008"><div class="product-entry" style="background-image: url(/static/img/1008.jpg);"></div></a>
        </div>
    </div>
</div>

{{ end }}