{{ define "footer" }}

<footer>
    <div class="container clearfix">
        <div class="social-icons">
            <h1>Socials</h1>
            <ul>
                <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
            </ul>
        </div>
        <div class="links">
            <h1>Links</h1>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Returns/Exchange</a></li>
                <li><a href="#">Gift Voucher</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Special</a></li>
                <li><a href="#">Customer Services</a></li>
                <li><a href="#">Site maps</a></li>
            </ul>
        </div>
        <div class="news">
            <h1>News</h1>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
        <div class="contact">
            <h1>Contact</h1>
            <ul>
                <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                <li><a href="mailto:info@utronshop.com">info@utronshop.com</a></li>
                <li><a href="#">utronshop.io</a></li>
            </ul>
        </div>

    </div>
    <span class="copy">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</span>
</footer>

{{ end }}