{{ define "head" }}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-icon/flaticon.css"> 
    <link rel="stylesheet" type="text/css" href="/static/css/font-logo/font.css"> 
    <title>utronshop</title>
</head>

{{ end }}